<h1>Editing twitterfeed</h1>

<% form_for(@twitterfeed) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @twitterfeed %> |
<%= link_to 'Back', twitterfeeds_path %>
