<p>
  <b>Title:</b>
  <%=h @youtubevideo.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @youtubevideo.url %>
</p>

<p>
  <b>User:</b>
  <%=h @youtubevideo.user %>
</p>


<%= link_to 'Edit', edit_youtubevideo_path(@youtubevideo) %> |
<%= link_to 'Back', youtubevideos_path %>
